@import url(https://fonts.google.com/specimen/Source+Sans+Pro#standard-styles);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.logo img {
    height: 200px;
    width: 1000px;
}

h1 {
    font-size: xx-large;
}

main {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: #ffffff;
    background-attachment: fixed;  
    background-size: cover;
}

.results {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

ul.card {
    margin: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 324px;
}

img {
    width: 100%;
}

p{
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

button {
    height: 30px;
    width: 100%;
    color: #e0aab9;
    background-color: #394f4c;
}

button:hover {
    cursor: pointer;  
}