* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: xx-large;
    font-family: ;
}

main {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: #ffffff;
    background-attachment: fixed;  
    background-size: cover;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul.card {
    margin: 40px;
}

img {
    width: 80%;
}

p{
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    justify-content: center;
}

button {
    height: 30px;
    width: 80px;
    color: #e0aab9;
    background-color: #394f4c;
}

button:hover {
    cursor: pointer;  
}